[submodule "submodule"]
	path = submodule
	url = https://github.com/Kolumbryna22/front-end-recruitment-test-submodule.git
[submodule "submodule2"]
	path = submodule2
	url = https://github.com/Kolumbryna22/front-end-recruitment-test-submodule.git
